@tailwind base;

@font-face {
	font-family: 'Crimson Pro';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Crimson-Pro-vf.ttf');
}

@font-face {
	font-family: 'Crimson Pro';
	font-style: italic;
	font-display: swap;
	src: url('/fonts/Crimson-Pro-italic-vf.ttf');
}

html {
	font-family: 'Crimson Pro';
	font-size: 22px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@tailwind components;

@tailwind utilities;
